body {
  font-family: $font-family-sans-serif;
  background: none;
}
h1 {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 60px;
  color: $primary-color;
}
h2 {
  font-weight: 900;
  color: $darkest-text-color;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  font-weight: 900;
  color: $darkest-text-color;
  &:hover {
    text-decoration: none;
    color: $darkest-text-color;
  }
}
.normal {
  background-color: $container-bg;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.showAppendix {
  visibility: visible;
}
.hideAppendix {
  visibility: hidden;
}
.wrong, .right {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  .answer-feedback {
    position: absolute;
    top: -43px;
    width: 100%;
    padding: 5px 55px;
    h5 {
      display: inline-block;
      position: relative;
      top: 0;
      margin: 0 10px 0 0;
      font-size: 20px;
    }
    p {
      display: inline-block;
      margin: 0;
    }
  }
  button {
    position: absolute;
    right: 60px;
    bottom: 15px;
    padding: 5px 55px;
    border: solid 2px transparent;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 900;
    font-size: 22px;
    color: $lightest-text-color;
  }
}

.btn-continue-lesson {
  position: absolute;
  right: 60px;
  bottom: 15px;
  padding: 5px 55px;
  border: solid 2px transparent;
  border-radius: 35px;
  cursor: pointer;
  font-weight: 900;
  font-size: 22px;
  color: $lightest-text-color;
}

.feedback-wrong {
  .answer-feedback {
    background-color: $error-bg;
    color: $error;
    h5 {
      color: $error;
    }
  }
}
.wrong {
  button {
    background-color: $error;
  }
}
.feedback-right {
  .answer-feedback {
    background-color: $success-bg;
    color: $success;
    h5 {
      color: $success;
    }
  }
}
.right {
  button {
    background-color: $success;
  }
  &.verify-answer {
    background-color: $success-bg;
  }
}

.contact-teacher {
  position: fixed;
  bottom: 15px;
  z-index: 7;
  ul {
    margin: 0;
    padding-left: 50px;
    li {
      display: block;
      margin: 0;
      padding: 5px 10px;
      border-radius: 27px;
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        color: $lightest-text-color;
        svg {
          margin-right: 5px;
        }
      }
      + li {
        margin-top: 10px;
      }
      &.facebook-teacher {
        background: #2196F3;
      }
      &.whatsapp-teacher {
        background: #41C452;
      }
    }
    + span {
      margin-top: 25px;
    }
  }
  span {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $lightest-container-bg;
  }
  .arrow {
    align-self: flex-end;
    position: absolute;
    bottom: 20px;
    left: 70px;
  }
}

.contact-teacher-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  opacity: .9;
  z-index: 6;
  background-color: $lightest-container-bg;
}

.ucb-modal {
  position: absolute;
  right: 0;
  width: 50vw;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkest-text-color;
  background-color: $container-bg;
  h5 {
    position: absolute;
    top: 20px;
    font-weight: 900;
    font-size: 20px;
    color: $light-text-color;
  }
  p {
    font-size: 22px;
    text-align: left;
  }
  .ucb-iframe-content {
    position: relative;
    min-height: 100vh;
    padding: 125px 60px 80px 60px;
  }
}
.lesson-intro {
  margin-bottom: 70px;
  overflow: visible;
  .lesson-info {
    margin-top: 50px;
    margin-bottom: 0;
    span {
      font-weight: 900;
      font-size: 14px;
      text-transform: uppercase;
      color: $primary-color;
    }
    svg {
      margin-right: 5px;
    }
    div {
      font-size: 25px;
      color: $secondary-color;
    }
    .lesson-info-title {
      display: flex;
      align-items: center;
    }
  }
}
.start-lesson {
  display: inline-block;
  margin-bottom: 35px;
  padding: 20px 30px;
  line-height: 36px;
  border-radius: 42px;
  font-size: 36px;
  font-weight: 900;
  color: $lightest-text-color;
  background-color: $primary-color;
  &:hover {
    text-decoration: none;
    color: $lightest-text-color;
  }
}
.ucb-bible-versicle {
  position: absolute;
  top: 0;
  left: -50vw;
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 80px;
  overflow: scroll;
  background-color: $callout-bg;
  color: $dark-text-color;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.35);
  p {
    font-size: 16px;
  }
  .ucb-bible-versicle-content {
    iframe {
      position: relative;
      width: 50vw;
      height: 100vh;
      margin: -80px;
    }
  }
  .dismiss-versicles {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    outline: none;
    background-color: $light-alpha-container-bg;
    svg {
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover {
      background-color: $light-text-color;
    }
  }
}
.end-lesson {
  .lesson-conclusion-feedback {
    display: flex;
    margin-bottom: 70px;
    h1 {
      margin-bottom: 15px;
      font-size: 47px;
    }
    p {
      line-height: 1.2;
      font-weight: 700;
      font-size: 34px;
      color: $dark-text-color;
    }
    div + div {
      margin-left: 20px;
    }
  }
  .teste {
    position: relative;
    height: 100vh;
    margin: 0 -60px -80px;
    padding: 0 60px;
    background-color: $light-container-bg;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -69px;
      left: 0;
      height: 0;
      width: 0;
      border-left: 0vw solid transparent;
      border-right: 70vw solid transparent;
      border-bottom-width: 70px;
      border-bottom-style: solid;
      border-bottom-color: $light-container-bg;
      background-color: $container-bg;
    }
  }
  form {
    input {
      padding: 10px 20px;
      width: 100%;
      border-width: 2px;
      border-style: solid;
      border-color: $text-color;
      border-radius: 10px;
      font-weight: 900;
      font-size: 20px;
      background: transparent;
      &.end-lesson-button {
        display: inline-block;
        width: auto;
        margin-top: 40px;
        margin-bottom: 35px;
        padding: 20px 30px;
        border: 0;
        line-height: 36px;
        border-radius: 42px;
        font-size: 36px;
        font-weight: 900;
        color: $lightest-text-color;
        background-color: $primary-color;
        &:hover {
          text-decoration: none;
          color: $lightest-text-color;
        }
      }
    }
    .mc-field-group + .mc-field-group {
      margin-top: 15px;
    }
    .ucb-saiba-mais-lessons {
      display: inline-block;
      margin-top: 69px;
      margin-bottom: 35px;
      padding: 5px 55px;
      border-width: 2px;
      border-style: solid;
      border-color: $text-color;
      border-radius: 35px;
      cursor: pointer;
      font-weight: 900;
      font-size: 22px;
      color: $text-color;
      background-color: transparent;
      &:hover {
        color: $lightest-text-color;
        border-color: $primary-color;
        background-color: $primary-color;
      }
    }
  }
}
.ucb-try-again {
  color: $text-color;
  &:hover {
    text-decoration: underline;
    color: $dark-text-color;
  }
}
.lesson-intro, .ucb-question {
  overflow: scroll;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .wrong, .right {
    .answer-feedback {
      font-size: 22px;
    }
    button {
      right: 20px;
      padding: 5px 35px;
      font-size: 20px;
    }
  }
  .ucb-modal {
    width: 100vw;
    .ucb-iframe-content {
      height: 100vh;
      padding: 50px 20px 30px 20px;
    }
    h5 {
      top: 10px;
    }
    p {
      font-size: 20px;
    }
  }
  .lesson-intro {
    margin-bottom: 30px;
  }
  .start-lesson {
    padding: 10px 20px;
    line-height: 24px;
    font-size: 24px;
    svg {
      height: 18px;
    }
  }
  .end-lesson {
    .lesson-conclusion-feedback {
      display: block;
      div + div {
        margin-left: 0;
      }
    }
    form {
      input.end-lesson-button {
        margin-top: 20px;
        padding: 10px 20px;
        line-height: 24px;
        font-size: 24px;
      }
    }
    .teste {
      margin: 0 -60px -80px;
      padding: 20px 60px 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -69px;
        border-left: 0vw solid transparent;
        border-right: 110vw solid transparent;
        border-bottom-width: 70px;
        border-bottom-style: solid;
        border-bottom-color: $light-container-bg;
      }
    }
  }
  .ucb-bible-versicle {
    top: 20vh;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 20px;
    z-index: 5;
    .ucb-bible-versicle-content {
      iframe {
        position: relative;
        width: 90vw;
        height: 62vh;
        margin: -20px;
      }
    }
    &.versicle {
      top: auto;
      bottom: 0;
      height: 60vh;
      &.showAppendix {
        animation-duration: 1s;
        animation-name: slidein;
      }
      @keyframes slidein {
        from {
          visibility: hidden;
          bottom: -60vh;
        }

        to {
          visibility: visible;
          bottom: 0;
        }
      }
      &.hideAppendix {
        animation-duration: 1s;
        animation-name: slideout;
      }
      @keyframes slideout {
        from {
          visibility: visible;
          bottom: 0;
        }

        to {
          visibility: hidden;
          bottom: -60vh;
        }
      }
    }
    &.video {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      padding: 0;
      .ucb-bible-versicle-content {
        iframe {
          height: 100vh;
          width: 100vw;
          margin: 0;
        }
      }
    }
    .dismiss-versicles {
      z-index: 6;
    }
    .showAppendix {
      visibility: visible;
    }
    .hideAppendix {
      visibility: hidden;
    }
  }

  .contact-teacher-overlay {
    left: 0;
    width: auto;
  }

  .end-lesson {
    .end-lesson-buttons {
      text-align: center;
    }
    .ucb-saiba-mais-lessons {
      margin-top: 40px;
    }
  }
}

@media (max-width: 375px) {
  .verify-answer {
    .verify-btn {
      width: 90vw;
    }
  }
  .btn-continue-lesson {
    width: 90vw;
  }
  .contact-teacher {
    display: flex;
    justify-content: flex-end;
    right: 5px;
    bottom: 90px;
    ul {
      margin-top: -70px;
      margin-right: -40px;
      li {
        width: calc(100vw - 30px);
      }
    }
    .arrow {
      bottom: 10px;
      right: 70px;
      left: auto;
      transform: scaleX(-1);
    }
  }
}