$body-bg: #eef1f2;
$versicle-bg: #fcfae7;

$light-grey: #dadada;
$primary-colour: #71456D;
$secondary-colour: #996e95;

$versicle-text-color: #575e5f;

$btn-success: #66a91a;

$font-family-sans-serif: 'Lato', sans-serif;